<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Izin Keluar Mahasiswa Inside UNAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy" rel="stylesheet" type="text/css"/>
    <link href="MidProject.css" rel="stylesheet">
    <link rel="icon" href="logounai.png">
</head>
<body>
    <nav class="navbar navbar-expand-md d-flex justify-content-center">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mahasiswa.html">Mahasiswa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="permohonanKeluar.html">Permohonan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kepalaAsrama.html">Kepala Asrama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="statusPermohonan.html">Status Permohonan</a>
              </li>
          </ul>
        </div>
      </nav>


    <div id="app">
        <div class="container">
            <div class="py-5 text-center">
                <!-- judul -->
                <h2>Izin Keluar Mahasiswa Inside UNAI</h2>
            </div>

            <div class="col-md-12">
                <h4 class="mb-3">Data Permohonan Keluar</h4>
                <button v-on:click="resetForm()">Create New Data</button>
                <table class="table">
                    <tr>
                        <th>No.</th>
                        <th>NIM</th>
                        <th>Waktu</th>
                        <th>Alasan</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="keluar in permohonan_keluar">
                        <td>{{ keluar.id }}</td>
                        <td>{{ keluar.nim }}</td>
                        <td>
                            {{ keluar.pergi }} - {{ keluar.pulang }}
                        </td>
                        <td>{{ keluar.alasan }}</td>
                        <td><button class="btn-warning" v-on:click="getEdit(keluar)">Edit</button></td>
                        <td><button class="btn-danger" v-on:click="getDelete(keluar)">Delete</button></td>
                    </tr>
                </table>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>

                <h4 class="mb-3 margin">Informasi Permohonan Keluar</h4>
                
                
                    <div class="mb-3">
                        <label for="nim">NIM</label>
                        <input v-model="nim" type="text" class="form-control" id="nim" value="" required>
                        <div class="invalid-feedback">
                            NIM masih kosong!
                        </div>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="tanggal">Tanggal</label>
                        <input v-model="tanggal" type="date" class="form-control" id="tanggal" value="" required>
                        <div class="invalid-feedback">
                            Waktu masih kosong!
                        </div>
                    </div> -->

                    <div class="mb-3">
                        <label for="pergi">Waktu Pergi</label>
                        <input v-model="pergi" type="time" class="form-control" id="pergi" value="" required>
                        <div class="invalid-feedback">
                            Waktu masih kosong!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="pulang">Waktu Kembali</label>
                        <input v-model="pulang" type="time" class="form-control" id="pulang" value="" required>
                        <div class="invalid-feedback">
                            Waktu masih kosong!
                        </div>
                    </div>
                                
                    <div class="mb-3">
                        <label for="alasan">Alasan</label>
                        <textarea v-model="alasan" name="alasan" class="form-control" id="alasan" value="" style="width:600px; height:200px;"></textarea>
                        <div class="invalid-feedback">
                            Alasan masih kosong!
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button v-if="!editMode && !deleteMode" v-on:click="createKeluar" type="submit">Submit Data</button>
                    <button v-if="editMode" v-on:click="updateKeluar" class="btn-warning" type="submit">Update Data</button>
                    <button v-if="deleteMode" v-on:click="deleteKeluar" class="btn-danger" type="submit">Delete Data</button>
                
            </div>
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2022 ANNA MONICA</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="https://unai.edu/">UNAI</a></li>
                  <li class="list-inline-item"><a href="https://fti.unai.edu/">FTI UNAI</a></li>
                </ul>
            </footer>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                permohonan_keluar:[],
                keluarIdEdit: null,
                keluarIdDelete: null,
                editMode: false,
                deleteMode: false,
                nim: '',
                pergi: '',
                pulang: '',
                alasan: '',
            },
            mounted: function() {
                this.getKeluar();
            },
            methods: {
                getKeluar() {
                    axios.get('https://621a249f81d4074e85ba7ca7.mockapi.io/permohonan_keluar')
                    .then(response => {
                        this.permohonan_keluar = response.data;
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                },
                createKeluar: function(){
                    axios.post('https://621a249f81d4074e85ba7ca7.mockapi.io/permohonan_keluar', {
                        nim: this.nim,
                        pergi: this.pergi,
                        pulang: this.pulang,
                        alasan: this.alasan,
                    })
                    .then(response => {
                        this.getKeluar();
                        this.message = "Data berhasil disimpan";
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.keluarIdEdit =  null,
                    this.nim = null;
                    this.pergi = null;
                    this.pulang = null;
                    this.alasan = null;
                },
                getEdit: function (keluar) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.keluarIdEdit =  keluar.id;
                    this.nim = keluar.nim;
                    this.pergi = keluar.pergi;
                    this.pulang = keluar.pulang;
                    this.alasan = keluar.alasan;
                },
                getDelete: function (keluar) {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = true;
                    this.keluarIdDelete =  keluar.id;
                    this.nim = keluar.nim;
                    this.pergi = keluar.pergi;
                    this.pulang = keluar.pulang;
                    this.alasan = keluar.alasan;
                },
                updateKeluar: function () {
                    axios.put(`https://621a249f81d4074e85ba7ca7.mockapi.io/permohonan_keluar/${this.keluarIdEdit}`, {
                        nim: this.nim,
                        pergi: this.pergi,
                        pulang: this.pulang,
                        alasan: this.alasan,
                    })
                    .then(res => {
                        this.message = "Your data has been updated";
                        this.getKeluar();
                    })
                    .catch(err => {
                        console.log(err);
                    })
                },
                deleteKeluar: function () {
                    axios.delete(`https://621a249f81d4074e85ba7ca7.mockapi.io/permohonan_keluar/${this.keluarIdDelete}`)
                        .then(res => {
                            this.message = "Your data has been deleted";
                            this.getKeluar();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            }
        })

    </script>

</body>
</html>