<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy" rel="stylesheet" type="text/css"/>
    <link href="MidProject.css" rel="stylesheet">
    <link rel="icon" href="logounai.png">
</head>
<body>
    <nav class="navbar navbar-expand-md d-flex justify-content-center">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="permohonanKeluar.html">Permohonan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kepalaAsrama.html">Kepala Asrama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="statusPermohonan.html">Status Permohonan</a>
              </li>
          </ul>
        </div>
      </nav>


    <div id="app">
        <div class="container">
            <div class="py-5 text-center">
                <!-- judul -->
                <h2>Izin Keluar Mahasiswa Inside UNAI</h2>
            </div>

            <div class="col-md-12">
                <h4 class="mb-3">Data Status Permohonan</h4>
                <button v-on:click="resetForm()">Create New Data</button>
                <table class="table">
                    <tr>
                        <th>No.</th>
                        <th>ID Permohonan</th>
                        <th>Menyetujui</th>
                        <th>Status</th>
                        <th>Waktu Kembali</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="sp in status_permohonan">
                        <td>{{ sp.id }}</td>
                        <td>{{ sp.id_permohonan }}</td>
                        <td>{{ sp.id_kepas }}</td>
                        <td>{{ sp.status }}</td>
                        <td>{{ sp.kembali }}</td>
                        <td><button class="btn-warning" v-on:click="getEdit(sp)">Edit</button></td>
                        <td><button class="btn-danger" v-on:click="getDelete(sp)">Delete</button></td>
                    </tr>
                </table>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>

                <h4 class="mb-3 margin">Informasi Status Permohonan</h4>
                
                
                    <div class="mb-3">
                        <label for="id_permohonan">ID Permohonan</label>
                        <input v-model="id_permohonan" type="text" class="form-control" id="id_permohonan" value="" required>
                        <div class="invalid-feedback">
                            ID Permohonan masih kosong!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="id_kepas">ID Kepala Asrama</label>
                        <input v-model="id_kepas" type="text" class="form-control" id="id_kepas" value="" required>
                        <div class="invalid-feedback">
                            ID Kepala Asrama masih kosong!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="status">Status</label>
                        <div class="input-group">
                            <select v-model="status" class="form-control" id="status" name="status">
                                <option value="Disetujui kali">Setuju</option>
                                <option value="Ditolak">Tolak</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Status masih kosong!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="kembali">Waktu Kembali</label>
                        <input v-model="kembali" type="time" class="form-control" id="kembali" value="" required>
                        <div class="invalid-feedback">
                            Waktu Kembali masih kosong!
                        </div>
                    </div>
                                
                    <hr class="mb-4">
                    <button v-if="!editMode && !deleteMode" v-on:click="createSp" type="submit">Submit Data</button>
                    <button v-if="editMode" v-on:click="updateSp" class="btn-warning" type="submit">Update Data</button>
                    <button v-if="deleteMode" v-on:click="deleteSp" class="btn-danger" type="submit">Delete Data</button>
                
            </div>
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2022 ANNA MONICA</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="https://unai.edu/">UNAI</a></li>
                  <li class="list-inline-item"><a href="https://fti.unai.edu/">FTI UNAI</a></li>
                </ul>
            </footer>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                status_permohonan:[],
                spIdEdit: null,
                spIdDelete: null,
                editMode: false,
                deleteMode: false,
                id_permohonan: '',
                id_kepas: '',
                status: '',
                kembali: '',
            },
            mounted: function() {
                this.getSp();
            },
            methods: {
                getSp() {
                    axios.get('https://621a249f81d4074e85ba7ca7.mockapi.io/status_permohonan')
                    .then(response => {
                        this.status_permohonan = response.data;
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                },
                createSp: function(){
                    axios.post('https://621a249f81d4074e85ba7ca7.mockapi.io/status_permohonan', {
                        id_permohonan: this.id_permohonan,
                        id_kepas: this.id_kepas,
                        status: this.status,
                        kembali: this.kembali,
                    })
                    .then(response => {
                        this.getSp();
                        this.message = "Data berhasil disimpan";
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.spIdEdit =  null,
                    this.id_permohonan = null;
                    this.id_kepas = null;
                    this.status = null;
                    this.kembali = null;
                },
                getEdit: function (sp) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.spIdEdit =  sp.id;
                    this.id_permohonan = sp.id_permohonan;
                    this.id_kepas = sp.id_kepas;
                    this.status = sp.status;
                    this.kembali = sp.kembali;
                },
                getDelete: function (sp) {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = true;
                    this.spIdDelete =  sp.id;
                    this.id_permohonan = sp.id_permohonan;
                    this.id_kepas = sp.id_kepas;
                    this.status = sp.status;
                    this.kembali = sp.kembali;
                },
                updateSp: function () {
                    axios.put(`https://621a249f81d4074e85ba7ca7.mockapi.io/status_permohonan/${this.spIdEdit}`, {
                        id_permohonan: this.id_permohonan,
                        id_kepas: this.id_kepas,
                        status: this.status,
                        kembali: this.kembali,
                    })
                    .then(res => {
                        this.message = "Your data has been updated";
                        this.getSp();
                    })
                    .catch(err => {
                        console.log(err);
                    })
                },
                deleteSp: function () {
                    axios.delete(`https://621a249f81d4074e85ba7ca7.mockapi.io/status_permohonan/${this.spIdDelete}`)
                        .then(res => {
                            this.message = "Your data has been deleted";
                            this.getSp();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            }
        })

    </script>

</body>
</html>